    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios
            = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Maps to Physical Label D2
            , <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Maps to Physical Label D3
            ;
    };
