#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

        macros {
    calc_macro: calc_macro {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <
            &kp LGUI &kp R
            &macro_wait_time 30
            &kp C &kp A &kp L &kp C
            &macro_wait_time 30
            &kp ENTER
        >;
    };
};


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                  &calc_macro
            &mo 1  &kp KP_SLASH &kp KP_ASTERISK &kp KP_MINUS
            &kp N7 &kp N8 &kp N9
            &kp N4 &kp N5 &kp N6 &kp KP_PLUS
            &kp N1 &kp N2 &kp N3
                   &kp N0 &kp KP_DOT &kp ENTER

            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
